<header class="page-header" role="banner">
  <%
=begin%>
 <h1><%= t('.title') %></h1> 
<%
=end%>
</header>

<main role="main">
  <%
=begin%>
 <p class="h4">
    <%= raw t('.prompt', client_name: content_tag(:strong, class: 'text-info') { @pre_auth.client.name }) %>
  </p> 
<%
=end%>

  <!-- 研究用の注意文 -->
  <div class="alert alert-warning mt-3">
    <p>
      本システムは学術研究目的で利用されます。
      入力された内容は研究データとして匿名化のうえ利用されます。
      データは第三者に提供されることはありません。
      同意いただける場合は以下の「承認」ボタンを押してください。
    </p>
    <p>
      <%
=begin%>
 <label>
        <%= check_box_tag :research_agree, "1", false, required: true %>
        上記の内容に同意します
      </label> 
<%
=end%>
    </p>
  </div>

  <%
=begin%>
 <% if @pre_auth.scopes.count > 0 %>
    <div id="oauth-permissions">
      <p><%= t('.able_to') %>:</p>

      <ul class="text-info">
        <% @pre_auth.scopes.each do |scope| %>
          <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
<%
=end%>

  <div class="actions">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
      <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
      <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
      <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
      <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
      <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
      <%= submit_tag "同意", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
    <%
=begin%>
 <%= form_tag oauth_authorization_path, method: :delete do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
      <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
      <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
      <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
      <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
      <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
      <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-danger btn-lg btn-block" %>
    <% end %> 
<%
=end%>
  </div>
</main>
